@font-face {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./basis_grotesque_pro_bold/basisgrotesqueprobold.eot"); /* IE9 Compat Modes */
  src: url("./basis_grotesque_pro_bold/basisgrotesqueprobold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./basis_grotesque_pro_bold/basisgrotesqueprobold.woff2")
      format("woff2"),
    /* Modern Browsers */
      url("./basis_grotesque_pro_bold/basisgrotesqueprobold.woff")
      format("woff"),
    /* Modern Browsers */
      url("./basis_grotesque_pro_bold/basisgrotesqueprobold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./basis_grotesque_pro_bold/basisgrotesqueprobold.otf")
      format("opentype"); /* Open Type Font */
}

@font-face {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./basis_grotesque_pro_regular/basisgrotesqueproregular.eot"); /* IE9 Compat Modes */
  src: url("./basis_grotesque_pro_regular/basisgrotesqueproregular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./basis_grotesque_pro_regular/basisgrotesqueproregular.woff2")
      format("woff2"),
    /* Modern Browsers */
      url("./basis_grotesque_pro_regular/basisgrotesqueproregular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./basis_grotesque_pro_regular/basisgrotesqueproregular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./basis_grotesque_pro_regular/basisgrotesqueproregular.otf")
      format("opentype"); /* Open Type Font */
}

@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./syne_extra/syneextra.eot"); /* IE9 Compat Modes */
  src: url("./syne_extra/syneextra.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./syne_extra/syneextra.woff2") format("woff2"),
    /* Modern Browsers */ url("./syne_extra/syneextra.woff") format("woff"),
    /* Modern Browsers */ url("./syne_extra/syneextra.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./syne_extra/syneextra.otf")
      format("opentype"); /* Open Type Font */
}
