﻿@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

* {
  box-sizing: border-box;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

*:focus {
  outline-color: $purple-color;
}

p {
  margin: 0;
}

a {
  color: $white-color;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  color: $purple-color;
  outline: none;
}

body {
  font-family: "Basis Grotesque Pro", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  background: $white-color;
  overflow-y: auto;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black-color;
  font-size: 12px;
  letter-spacing: 2px;
}
