﻿.page {
  padding-top: 70px;
  padding-left: 100px;

  &__h1,&__h2 {
    font-family: Syne, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
  }

  @media screen and (max-width: 500px) {
    padding-left: 0;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
