<template>
  <main class="faq">
    <h1 class="page__h1 faq__h">{{ title }}</h1>
    <i-details
      v-for="detail in details"
      :key="detail.summary"
      :detail="detail"
    />
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import VueI18n from "vue-i18n";
import { nsCtor } from "@/utils/namespace-constructor";
import IDetails from "@/components/Details.vue";

@Component({ components: { IDetails } })
export default class Faq extends Vue {
  static faqNS = nsCtor("faq");
  get title() {
    return `${this.$t(Faq.faqNS`title`)}`.toUpperCase();
  }
  get details(): VueI18n.TranslateResult {
    return this.$t(Faq.faqNS`details`);
  }
}
</script>

<style lang="scss">
@import "../styles/variables";
@import "../styles/page";
.faq {
  @extend .page;
  width: 70%;
  @media screen and (max-width: 850px) {
    padding-left: 0;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  &__h {
    margin-bottom: 3.25rem;
  }
}
</style>
