<template>
  <div class="home">
    <img class="home__graph" src="../assets/graph.svg" alt="graph" />
    <main class="home__content">
      <img
        class="home__logo"
        :alt="$t('common.logoAlt')"
        src="../assets/logo__black.svg"
      />
      <div class="home__section">
        <p>{{ this.$t(`home.introduction.start`) }}</p>
        <ul>
          <li v-for="question in introductionQuestions" :key="question">
            {{ question }}
          </li>
        </ul>
        <p v-for="paragraph in introductionParagraphs" :key="paragraph">
          {{ paragraph }}
        </p>
      </div>
      <div class="home__section">
        <h2 class="page__h2">{{ helpTitle }}</h2>
        <i-details
          open="true"
          v-for="detail in helpDetails"
          :key="detail.summary"
          :detail="detail"
        />
      </div>
      <div class="home__section">
        <h2 class="page__h2">{{ workTitle }}</h2>
        <p v-for="paragraph in workParagraphs" :key="paragraph">
          {{ paragraph }}
        </p>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import IDetails from "@/components/Details.vue";
import { nsCtor } from "@/utils/namespace-constructor";

@Component({ components: { IDetails } })
export default class Home extends Vue {
  get introductionNS() {
    return nsCtor("home.introduction");
  }
  get introductionQuestions() {
    return this.$t(this.introductionNS`questions`);
  }
  get introductionParagraphs() {
    return this.$t(this.introductionNS`paragraphs`);
  }
  get helpNS() {
    return nsCtor("home.help");
  }
  get helpTitle() {
    return this.$t(this.helpNS`title`);
  }
  get helpDetails() {
    return this.$t(this.helpNS`details`);
  }
  get workNS() {
    return nsCtor("home.work");
  }
  get workTitle() {
    return this.$t(this.workNS`title`);
  }
  get workParagraphs() {
    return this.$t(this.workNS`paragraphs`);
  }
}
</script>

<style lang="scss">
@import "../styles/variables";
@import "../styles/page";
.home {
  @extend .page;
  font-size: 1.2rem;
  line-height: 1.26;
  @media screen and (min-width: 500px) and (max-width: 1000px) {
    padding-left: 30px;
  }

  &__graph {
    position: absolute;
    top: 0;
    right: 0;
    width: 53%;
    height: auto;
    object-fit: contain;
    z-index: -1;
    @media screen and (max-width: $mobile-media) {
      width: 80%;
    }
  }
  &__content {
    > * {
      margin-bottom: 5rem;
    }
    width: 45%;
    @media screen and (max-width: 850px) {
      margin-top: 20%;
      width: 100%;
    }
    @media screen and (max-width: $mobile-media) {
      margin-top: 60%;
      width: 100%;
    }
  }
  &__section {
    > * {
      margin-bottom: 1.5rem;
    }
  }
  &__logo {
    width: 310px;
    margin-bottom: 3rem;
    @media screen and (max-width: $mobile-media) {
      width: 220px;
      margin-bottom: 0.66rem;
    }
  }
}
</style>
