<template>
  <b-button :class="cssClasses" pill>{{ label }}</b-button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Button extends Vue {
  @Prop(String) readonly label!: string;
  @Prop(String) readonly type: "primary" | undefined;

  get cssClasses() {
    return {
      button: true,
      "button-primary": this.type === "primary",
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../styles/variables";
.button {
  font-weight: bold;
  color: $white-color;
  font-size: 1rem;
  background-color: transparent;
  &-primary {
    background-color: $purple-color;
    border-color: $purple-color;
  }
}
</style>
