<template>
  <details class="details" :open="open">
    <summary class="summary">{{ detail.summary }}</summary>
    {{ detail.description }}
  </details>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class IDetails extends Vue {
  @Prop() public open!: string;
  @Prop() public detail!: { summary: string; description: string };
}
</script>

<style lang="scss" scoped>
@import "../styles/variables";

.details {
  padding-bottom: 22px;
  margin-bottom: 10px;
  font-size: 1rem;
  border-color: $purple-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.details[open] > .summary {
  margin-bottom: 22px;
}
.summary {
  font-size: 1rem;
  font-weight: bold;
  &::-webkit-details-marker {
    color: $purple-color;
  }
}
</style>
