<template>
  <footer class="footer">
    <img class="footer__logo" alt="App logo" src="../assets/logo__white.svg" />
    <p class="footer__social-networks">INSTAGRAM / FACEBOOK / TWITTER</p>
    <p class="footer__copyright">{{ copyright }}</p>
    <a
      class="footer__cooperation"
      href="mailto:support@igra.ph"
      target="_blank"
      rel="noopener noreferrer"
    >
      <p class="footer__cooperation">{{ cooperation }}</p>
      <p class="footer__cooperation">SUPPORT@IGRA.PH</p>
    </a>
    <p class="footer__stay">{{ stayOnTop }}</p>
    <Button class="footer__email" label="EMAIL" />
    <!--    <Button class="footer__go" label="GO" type="primary" />-->
  </footer>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Button from "./Button.vue";
import { nsCtor } from "@/utils/namespace-constructor";

@Component({ components: { Button } })
export default class Footer extends Vue {
  static footerNS = nsCtor("footer");
  get copyright() {
    return `${this.$t(Footer.footerNS`copyright`)} © 2019`.toUpperCase();
  }
  get cooperation() {
    return `${this.$t(Footer.footerNS`cooperation`)}:`.toUpperCase();
  }
  get stayOnTop() {
    return `${this.$t(Footer.footerNS`stayOnTop`)}`.toUpperCase();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../styles/variables";
$gap: 46px;
.footer {
  padding: 33px 32px 21px 32px;
  background-color: $black-color;
  color: $white-color;
  font-size: 1rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto 68px auto 1fr auto 28px auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo . . . . . social-networks social-networks social-networks"
    "copyright . cooperation . stay . email . go";
  align-items: end;
  row-gap: 14px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: auto 68px auto 1fr auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "logo . . . social-networks social-networks social-networks"
      ". . . . stay . ."
      "copyright . cooperation . email . go";
  }
  @media screen and (max-width: 840px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "logo social-networks"
      "cooperation ."
      "stay ."
      "email ."
      "copyright .";
  }
  @media screen and (max-width: $mobile-media) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "logo"
      "social-networks"
      "cooperation"
      "stay"
      "email"
      "copyright";
  }
  &__logo {
    width: 100px;
    grid-area: logo;
  }

  &__social-networks {
    grid-area: social-networks;
    align-self: start;
    justify-self: end;
    @media screen and (max-width: $mobile-media) {
      justify-self: start;
    }
  }

  &__copyright {
    grid-area: copyright;
  }

  &__cooperation {
    grid-area: cooperation;
    color: $white-color;
    @media screen and (max-width: 840px) {
      display: flex;
      align-items: flex-end;
    }
  }
  &__cooperation:first-child {
    margin-right: 5px;
  }

  &__stay {
    grid-area: stay;
  }

  &__email {
    grid-area: email;
    width: 306px;
    @media screen and (max-width: 600px) {
      width: initial;
    }
    @media screen and (max-width: $mobile-media) {
      width: 306px;
    }
  }

  &__go {
    grid-area: go;
  }
}
</style>
