<template>
  <b-navbar sticky toggleable="md" type="dark" class="header">
    <b-navbar-brand>
      <router-link to="/">
        <img
          class="header__logo-img"
          :alt="$t('common.logoAlt')"
          src="../assets/logo__white.svg"
        />
      </router-link>
    </b-navbar-brand>
    <b-navbar-toggle target="nav-text-collapse" />

    <b-collapse id="nav-text-collapse" is-nav>
      <b-navbar-nav class="mx-3">
        <b-nav-item v-for="link in links" :key="link.to">
          <router-link
            class="header__nav-link"
            :to="link.to"
            data-toggle="collapse"
            activeClass="header__nav-link_active"
            >{{ link.label }}</router-link
          >
        </b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <locale-select />
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { nsCtor } from "@/utils/namespace-constructor";
import LocaleSelect from "@/components/LocaleSelect.vue";

@Component({ components: { LocaleSelect } })
export default class Header extends Vue {
  static headerNS = nsCtor("header");
  get links(): Array<{ label: string; to: string }> {
    return ["demo", "features", "cases", "prices", "faq", "contact"].map(
      (label) => ({
        label: (this.$t(Header.headerNS`nav.${label}`) as string).toUpperCase(),
        to: `/${label}`,
      })
    );
  }
}
</script>

<style lang="scss">
@import "../styles/variables";
$gap: 46px;
.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.navbar-toggler > .navbar-toggler-icon {
  background-image: url("../assets/menu.svg") !important;
}

.navbar-nav {
  align-items: center;
}

.header {
  padding: 17px 32px;
  background-color: $black-color;
  text-align: center;
  color: $white-color;

  &__logo-img {
    width: 160px;
  }
  &__nav {
    flex: 1;
    display: flex;
    justify-content: start;
  }
  &__nav-link {
    color: $white-color;
    font-size: 1rem;
    font-weight: bold;
    &_active {
      color: $purple-color;
    }
  }
}
</style>
