<template>
  <b-form-select
    v-model="locale"
    :options="localeOptions"
    class="locale-select"
  />
</template>
<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { translationService, TranslationService } from "@/services/translation";

@Component
export default class LocaleSelect extends Vue {
  locale = translationService.currentLocale;
  get localeOptions() {
    return TranslationService.availableLanguages.map((locale) => ({
      value: locale,
      text: locale.toUpperCase(),
    }));
  }
  @Watch("locale")
  onLocaleChanged(newLocale: string) {
    translationService.setLocale(newLocale);
  }
}
</script>

<style lang="scss" scoped>
.locale-select {
  max-width: 80px;
}
</style>
