<template>
  <div class="app">
    <Header />
    <div class="app__content">
      <router-view />
    </div>
    <Footer />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import "./assets/fonts/fonts.scss";
import "./styles/main.scss";

@Component({ components: { Header, Footer } })
export default class App extends Vue {}
</script>
<style lang="scss">
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
</style>
